* {
    box-sizing: border-box;
}

body {
    font-family: Verdana,cursive;
    font-weight: 400;
    font-size: 100%;
    line-height: 1.5;
    color: #212121;
    background-color: #FFFFFF;
}

h1 {
    color: #388E3C
}

h2 {
    color: #4CAF50;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
}

a {
    color: #4CAF50;
    text-decoration: none;
}

a:hover {
    color: #CDDC39;
}

/******************************
Header
 *****************************/

header {
    padding-top: 20px;
    background-color: #4CAF50;
    border-top: 20px #388E3C;

}

header nav {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: right;
}

header ul li {
    list-style: none;
    display: inline-block;
}

.menu-liens {
    display: inline-block;
    float: right;
}

header a, a:visited {
    font-weight: 800;
    padding: 10px;
    margin: 5px auto;
    color: #FFFFFF;
}

header a:hover, a:active {
    color: #CDDC39;
}

.logo {
    display: inline-block;
}

header h1 {
    display: none;
}

/******************************
Main page accueil
 *****************************/

main {
    padding: 20px;
}

.img-cabane {
    position: relative;
    float: right;
}

.img-cabane figure {
    background-color: #C8E6C9;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.img-cabane img {
    width: max-content;
}

.img-cabane figcaption {
    padding: 10px 0 5px;
    text-align: center;
    font-size: 90%;
    color: #FFFFFF;
    font-style: italic;
}

.paragraphe {
    left: 15px;
    top: 350px;
    margin-right: 50%;
    line-height: 35px;
    margin-left: 50px;

}

main p {
    display: inline-block;
}

main ul li {
   list-style-image: url("../img/balle-golf.png");
}

main table, td, th {
    border: 1px solid #C8E6C9;
    border-collapse: collapse;
}

main td, th {
    padding: 4px 6px;
    text-align: left;
}

main table caption {
    font-size: 80%;
    padding-bottom: 5px;
}

main thead, tfoot {
    background-color: #C8E6C9;
}


main table .cellule-prix {
    text-align: right;
}

main .cellule-ligne {
    display: block;
    padding-block: 10px;
    padding-top: 0;
}

main table tfoot td {
    font-size: 80%;
    text-align: right;
    font-weight: normal;
    display: block;
}




/**************************
Footer
 **************************/

footer {
    height: 120px;
    background: url("../img/paysage-practice-golf-club-bassecourt.jpg") 100% center no-repeat;
    padding: 20px 20px 60px 20px;
    margin-top: 30px;
}

footer div {
    text-align: center;

}

footer p {
    color: #B2B2B2
}
